/* Import Fonts */

@font-face {
   font-family: "Poppins";
   font-style: normal;
   font-weight: 400;
   src: local("Poppins"), local("Poppins-Regular"),
      url("../../fonts/opt/Poppins-Regular.woff2") format("woff2"),
      url("../../fonts/opt/Poppins-Regular.woff") format("woff"),
      url("../../fonts/basic/Poppins-Regular.ttf") format("truetype");
}

@font-face {
   font-family: "Poppins";
   font-style: normal;
   font-weight: 500;
   src: local("Poppins"), local("Poppins-Medium"),
      url("../../fonts/opt/Poppins-Medium.woff2") format("woff2"),
      url("../../fonts/opt/Poppins-Medium.woff") format("woff"),
      url("../../fonts/basic/Poppins-Medium.ttf") format("truetype");
}

@font-face {
   font-family: "Poppins";
   font-style: normal;
   font-weight: 600;
   src: local("Poppins"), local("Poppins-SemiBold"),
      url("../../fonts/opt/Poppins-SemiBold.woff2") format("woff2"),
      url("../../fonts/opt/Poppins-SemiBold.woff") format("woff"),
      url("../../fonts/basic/Poppins-SemiBold.ttf") format("truetype");
}

/* Basic font styles for elements */

%Font-Element-Regular {
   font-family: Poppins, sans-serif;
   font-weight: 400;
}

%Font-Element-Medium {
   font-family: Poppins, sans-serif;
   font-weight: 500;
}

%Font-Element-SemiBold {
   font-family: Poppins, sans-serif;
   font-weight: 600;
}

/* Basic colors */

$color-purple: #335ef7;
$color-light-blue: #e6eeff;
$color-black: #1f2e35;
$color-dark-grey: #30444e;
$color-black-grey: #3d3d3d;
$color-white: #ffffff;

/* Box Model */

*,
*::before,
*::after {
   box-sizing: border-box;

   @extend %Font-Element-Regular;

   margin: 0px;
   padding: 0px;
}

html {
   background-color: $color-white;
}

/* Main CSS */
.header {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: stretch;

   position: fixed;
   z-index: 1;
   min-width: 100%;

   background-color: $color-black;

   height: 80px;
   .header__container {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      align-content: center;

      min-width: 1142px;

      margin: 0px auto;
      .header__menu {
         min-width: 400px;
         .header__list {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: space-between;
            list-style: none;
            .list__item {
               a {
                  cursor: pointer;
                  @extend %Font-Element-Regular;
                  color: $color-white;
                  text-transform: uppercase;
               }
               a:hover {
                  color: $color-purple;
                  transition: all 0.2s ease-in-out 0.2s;
               }
            }
         }
      }
   }
}

.logo {
   width: 47px;
   height: 52px;
}

/* Offer */

.offer {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-content: center;
   justify-content: center;
   align-items: stretch;

   padding-top: 80px;

   height: 666px;
   background-color: $color-black;
   .offer__content {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: flex-start;
      justify-content: center;

      min-height: 100%;
      max-width: 557px;
      .offer__title {
         font-size: 40px;
         line-height: 61px;
         letter-spacing: 0.2px;
         @extend %Font-Element-SemiBold;
         color: $color-white;
      }
      .offer__text {
         font-size: 18px;
         line-height: 36px;
         letter-spacing: 0.2px;
         @extend %Font-Element-Regular;
         color: $color-white;

         margin-top: 16px;
      }
      .offer__link {
         min-width: 177px;
         min-height: 60px;
         background-color: $color-purple;
         border-radius: 8px;

         margin-top: 24px;

         box-shadow: 0px 0px 16px rgba(#335ef7, 0.09);

         a {
            display: flex;
            justify-content: center;
            align-items: center;

            @extend %Font-Element-Medium;
            font-size: 20px;
            line-height: 61px;
            letter-spacing: 0.2px;
            text-transform: capitalize;
            color: $color-white;
            text-decoration: none;

            min-height: 100%;
            min-width: 100%;
         }
      }
      .offer__link:hover {
         box-shadow: 0px 0px 16px rgba(#335ef7, 0.25);
         transition: all 0.2s ease-in-out 0.2s;
      }
      .offer__counters {
         display: flex;
         min-height: 54px;

         margin-top: 34px;
         .offer__counter {
            display: flex;
            align-items: center;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            .offer__icons {
               position: relative;
               height: 100%;
               width: 70px;
               .offer__icon {
                  position: absolute;

                  border-style: solid;
                  border-color: $color-white;
                  border-width: 4px;
                  border-radius: 100%;

                  width: 54px;
                  height: 54px;
               }
               .offer__icon--right {
                  left: 20px;
                  width: 50px;
                  height: 50px;
                  top: 2px;
               }
            }
            .offer__tegline {
               font-size: 16px;
               line-height: 24px;
               @extend %Font-Element-Regular;
               color: $color-white;

               margin-left: 15px;
               a {
                  text-decoration: none;
                  @extend %Font-Element-Medium;
                  color: $color-purple;
               }
               a:hover {
                  @extend %Font-Element-Medium;
                  color: $color-light-blue;
                  transition: all 0.2s ease-in-out 0.2s;
               }
            }
         }
         .offer__counter--left {
            margin-left: 28px;
         }
      }
   }
   .offer__image {
      min-width: 548px;
   }
}

.offer__image {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: nowrap;
   flex-direction: column;
}

.offer__circle {
   position: relative;
   width: 447px;
   height: 447px;
   background-color: $color-black;
   border-color: $color-light-blue;
   border-style: dashed;
   border-radius: 100%;
   .offer__image--inner {
      display: flex;
      height: 100%;
      min-width: 100%;
   }
}

.offer__logo {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: nowrap;
   flex-direction: column;

   width: 142px;
   height: 154px;
}

.ball {
   cursor: pointer;

   position: absolute;
   top: 170px;
   left: 170px;

   width: 100px;
   height: 100px;

   box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.16);
   border-radius: 100%;
}

.ball:hover {
   width: 110px;
   height: 110px;
   box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
   transition: all 0.2s ease-in-out 0.2s;
}

.ball--vscode {
   animation: 25s orbit linear infinite;
}

@keyframes orbit {
   from {
      transform: rotate(180deg) translateX(220px) rotate(180deg);
   }
   to {
      transform: rotate(540deg) translateX(220px) rotate(540deg);
   }
}

.ball--github {
   animation: 25s orbit_github linear infinite;
}

@keyframes orbit_github {
   from {
      transform: rotate(120deg) translateX(220px) rotate(120deg);
   }
   to {
      transform: rotate(480deg) translateX(220px) rotate(480deg);
   }
}

.ball--figma {
   animation: 25s orbit_figma linear infinite;
}

@keyframes orbit_figma {
   from {
      transform: rotate(60deg) translateX(220px) rotate(60deg);
   }
   to {
      transform: rotate(420deg) translateX(220px) rotate(420deg);
   }
}

.ball--pc {
   animation: 25s orbit_pc linear infinite;
}

@keyframes orbit_pc {
   from {
      transform: rotate(0deg) translateX(220px) rotate(0deg);
   }
   to {
      transform: rotate(360deg) translateX(220px) rotate(360deg);
   }
}

.ball--xd {
   animation: 25s orbit_xd linear infinite;
}

@keyframes orbit_xd {
   from {
      transform: rotate(-80deg) translateX(220px) rotate(-80deg);
   }
   to {
      transform: rotate(280deg) translateX(220px) rotate(280deg);
   }
}

.indicators {
   display: flex;
   padding: 70px 0px 70px 0px;
   min-height: 351px;
   max-width: 1142px;
   flex-wrap: wrap;
   flex-direction: row;
   align-content: center;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
}

.tickets {
   display: flex;

   .tiket {
      display: flex;

      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      text-align: center;

      padding: 24px 49px 22px 49px;

      width: 360px;
      height: 100%;
      .tiket__title {
         @extend %Font-Element-SemiBold;
         font-size: 32px;
         line-height: 150%;
      }
      .tiket__title--blue {
         color: #0086d6;
      }
      .tiket__title--green {
         color: #2ba093;
      }
      .tiket__title--red {
         color: #ff3366;
      }
      .tiket__subtitle {
         @extend %Font-Element-Medium;
         font-size: 24px;
         line-height: 150%;
         color: $color-black;

         margin-top: 8px;
      }
      .tiket__tegline {
         @extend %Font-Element-Regular;
         font-size: 18px;
         line-height: 155%;
         color: $color-dark-grey;

         margin-top: 16px;
      }
   }
   .tiket--comer {
      cursor: pointer;
      width: 357px;
      height: 198px;

      background: #ffffff;

      padding: 0px 30px 22px 30px;
      margin: 30px 15px 67px 15px;
      img {
         width: 110px;
         height: 40px;
         object-fit: scale-down;

         margin-top: 38px;
      }
      .tiket__tegline--comer {
         font-family: Roboto, sans-serif;
         font-size: 18px;
         line-height: 28px;
         /* or 156% */

         display: flex;
         align-items: center;
         text-align: center;
         letter-spacing: 0.3px;

         color: #475e69;
      }
   }
   .tiket--comer:hover {
      box-shadow: 0px 8px 50px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      transition: all 0.2s ease-in-out 0.2s;
   }
}

.pupular {
   display: flex;
   padding: 50px 0px 50px 0px;
   min-height: 714px;
   align-items: center;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   max-width: 1142px;
   margin: 0 auto;
   align-content: flex-start;
}

.container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   flex-wrap: wrap;
   margin: 0 auto;
   max-width: 1142px;
   h2 {
      @extend %Font-Element-SemiBold;
      font-size: 36px;
      line-height: 32px;
      letter-spacing: 0.2px;
      color: $color-black;
   }
   p {
      @extend %Font-Element-Regular;
      font-size: 18px;
      line-height: 150%;

      color: $color-dark-grey;

      text-align: center;

      margin-top: 16px;
   }
   a {
      margin-top: 50px;

      width: 159px;
      height: 45px;

      text-decoration: none;

      background-color: #1f2e35;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
      border-radius: 8px;
      span {
         font-style: normal;
         font-weight: 500;
         font-size: 20px;
         line-height: 32px;
         display: flex;
         align-items: center;
         letter-spacing: 0.2px;
         color: #ffffff;
         justify-content: center;
         height: 100%;
      }
   }
   a:hover {
      background: #1f2e35;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
      transition: all 0.2s ease-in-out 0.2s;
   }
}

.cards {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   width: 100%;
   margin-top: 53px;
   align-content: center;
}

.card {
   cursor: pointer;
   width: 360px;
   min-height: 432px;
   background: $color-white;
   box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
   border-radius: 8px;

   margin: 15px;
   img {
      width: 319px;
      height: 187px;
      background: $color-light-blue;
      border-radius: 5px;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 20px;
   }
   .card__img--fill {
      min-width: 100%;
      height: 187px;
      background-color: $color-black;
      border-radius: 8px;
      object-fit: none;
      margin: 0px;
   }
   .catd__header {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-content: center;
      justify-content: space-between;
      align-items: center;

      margin-top: 28px;
      margin-left: 20px;
      margin-right: 20px;
      .card__title {
         @extend %Font-Element-Medium;
         font-size: 28px;
         line-height: 150%;
      }
      .card-comer__title {
         @extend %Font-Element-Medium;
         line-height: 150%;
         font-size: 24px;
      }
      .card__acces {
         @extend %Font-Element-Medium;
         font-size: 18px;
         line-height: 32px;
         text-transform: uppercase;
      }
      .card__acces--green {
         color: #20c08b;
      }
      .card__acces--yellow {
         color: #ffc942;
      }
      .card__acces--blue {
         color: #009bff;
      }
   }
   .curd__subscription {
      @extend %Font-Element-Regular;
      margin-top: 16px;
      font-size: 16px;
      line-height: 160%;
      margin-left: 20px;
      margin-right: 20px;
   }
   .card__tags {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-content: center;
      justify-content: flex-start;
      align-items: center;

      margin-top: 16px;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 20px;
      .card__tag {
         display: flex;
         flex-direction: row;
         flex-wrap: nowrap;
         align-items: center;
         justify-content: center;

         height: 33px;

         background-color: #e1ebfb;

         padding: 5px 10px 5px 10px;
         margin-right: 16px;

         border-radius: 3px;
         .tag {
            @extend %Font-Element-Medium;
            font-size: 14px;
            line-height: 32px;
            color: $color-purple;
         }
      }
   }
}

.cards--comer {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: flex-start;
   width: 100%;
   margin-top: 53px;
   align-content: center;
   justify-content: space-between;
}

.card--comer {
   width: 319px;
   min-height: 409px;

   margin: 35px;
   margin-top: 0px;
   margin-bottom: 50px;
}

.card:hover {
   box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.45);
   transition: all 0.2s ease-in-out 0.2s;
}

.card--end {
   margin: 0px 0px 0px 15px;
}
.card--start {
   margin: 0px 15px 0px 0px;
}

.card-comer--end {
   margin: 0px 0px 35px 35px;
}
.card-comer--start {
   margin: 0px 35px 35px 0px;
}

.comer {
   display: flex;
   padding: 50px 0px 50px 0px;
   min-height: 714px;
   align-items: center;
   flex-direction: row;
   flex-wrap: wrap;
   align-content: center;
   justify-content: center;
   align-content: flex-start;
   background-color: #f9f9f9;
}

.brands {
   padding-top: 50px;
}

.testimonial {
   display: flex;
   padding: 50px 0px 50px 0px;
   min-height: 714px;
   align-items: center;
   flex-direction: row;
   flex-wrap: wrap;
   align-content: center;
   justify-content: center;
   align-content: flex-start;
   background-color: #f9f9f9;
}
